<section class="section-hero">
  <!-- 1.  Now we need to make our hero section display grid and need to center the content in the page.
  
         2. To acheive that we need to create a div container inside of our section that contains all the text and img -->

  <div class="hero">
    <div class="hero-text-box">
      <h1 class="heading-primary">
        Vengeance is mine. I escaped Hell. No one defies the
        Spirit of Vengeance.
      </h1>
      <p class="hero-description">
        ’m gonna own this curse… and I’m gonna use it against you. Whenever
        innocent blood is spilt, it’ll be my father’s blood… and you’ll find me
        there. A Spirit of Vengeance… fighting fire with fire.
      </p>
      <a routerLink="/login" class="btn btn--fill margin-right-btn"
        >Login here
      </a>
      <a routerLink="/about" class="btn btn--outline margin-right-btn"
        >Learn more &darr;
      </a>
    </div>
    <div class="hero-img-box">
      <img
        src="https://www.pngmart.com/files/17/Flame-Ghost-Rider-PNG-HD.png"
        alt="Woman enjoying food, meals in storage container, and food bowls on a table"
        class="hero-img"
      />
    </div>
  </div>
</section>

<app-card></app-card>
