<div class="container">
  <div class="product">
    <div class="product-content">
      <h2>{{ product.title }}</h2>
      <h3>{{ product.brand }}</h3>
      <h3>{{ product.category }}</h3>
      <h4>
        Price: ${{ product.price }} &nbsp;&nbsp; Discount: {{product.discountPercentage}}%
      </h4>
      <p>{{ product.description }}</p>
      <p>Rating: {{ product.rating }}</p>
      <a routerLink='/products'>Back</a>
    </div>
    <div class="carousel">
      <div *ngFor="let img of product.images">
        <img src="{{ img }}" alt="" />
      </div>
    </div>
  </div>
</div>
