div{
    position: relative;
    background-image:url('https://virtuoart.com/public/uploads/preview/331c153a4e2e4ea48b5285c1f91e35b2-61841574874505cqm9wteiy8.jpg') ;
    max-width: 800px;
    text-align: center;
    height: auto;
    background-position: center;
    padding: 50px 100px 100px;
    margin: 150px auto;
    border-radius: 10px;
    position: relative;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.5);
    h2{
        font-size: 2rem;
        text-transform: uppercase;
    }
    form{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 70%;
        input{
            padding: 20px;
            margin: 30px 0;
            outline: none;
            border: none;
            cursor: pointer;
            border-radius: 5px;
        }
        button{
            outline: none;
            text-transform: uppercase;
            border: none;
            padding: 15px;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 25px;
            font-size: 1.5rem;
        }
        
    }
    &::after{
        position: absolute;
        top: -40px;
        background-color: transparent;
        right: -500px;
        background-image: url('https://img.freepik.com/premium-vector/skull-ghost-rider-road-vector-logo-design-illustration_1893-135.jpg?w=2000');
        height: 200px;
        background-size: 100%;
        object-fit: cover;
        width: 200px;
        border-radius: 50%;
        content: "";
        mix-blend-mode: multiply;
    }
    &::before{
        position: absolute;
        bottom: -40px;
        background-color: transparent;
        left: -500px;
        background-image: url('https://i.pinimg.com/originals/7a/39/fc/7a39fc670f0618c26b5f0937ebb3f62a.jpg');
        height: 200px;
        background-size: 100%;
        object-fit: cover;
        width: 200px;
        content: "";
        mix-blend-mode: multiply;
    }
}